{% if theme.footer_text %}
<footer class="f3-l f4-m f5 footer">
    <div class="flex flex-wrap w-90 pv5 center">
        <div class="w-25-ns w-50 pl4 f4-l f3-m f5">
            {{ theme.footer_text }}
        </div>
        <div class="w-50 left-auto">
            <div class="mb3 f4-l f3-m f5 pl4">Social</div>
            {% theme_include 'partials/social' %}
        </div>
    </div>
</footer>
{% endif %}