{% if theme.footer_text %}
<footer class="footer">
    <div class="flex flex-wrap w-90-l pv5 center">
        <div class="w-25-ns w-50 pl4">
            {{ theme.footer_text }}
        </div>
        <div class="w-50 left-auto">
            <div class="mb3 pl4">Social</div>
            {% theme_include 'partials/social' %}
        </div>
    </div>
</footer>
{% endif %}