<header class="header mw9 center">
  <div class="w-100 flex pv3">
    {% theme_include 'partials/logo' %}
    <div class="header-items-container w-75 left-auto">
      {% theme_include 'partials/menu' %}
    </div>
  </div>
</header>