{% if page.title %}
    <div class="title-element mt6 mb5 mw9 center">
        {% if page.title.image_url and page.title.copy_alignment != "only" %}
            <img src='{{ page.title.image_url_900x0 }}'>
        {% else if page.title.copy and page.title.copy_alignment != "none" %}
            <div class="flex">
                <div class="text f2 fw3 w-100 ph4 left-auto">{{ page.title.copy }}</div>
            </div>
        {% endif %}
    </div>
{% endif %}