<!DOCTYPE html>
<html lang="">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.is_homepage %}
    <link rel="canonical" href="{{ site.url }}" />
    {% endif %}
    {% unless page.content_editable %}<script src="{% asset_pipeline theme_api/v2/turbolinks-2.5.3-format.js %}"></script>{% endunless %}
    {% format_header %}
</head>
<body
  class="{% format_body_class %} overflow-x-hidden"
  {% if preview %}data-no-turbolink="true"{% endif %}
>
    {% content_header %}
    {{ content_for_layout }}
    {% format_footer %}
    <script src="{% asset_pipeline theme_api/vendor/jquery-1.11.2.min.js %}"></script>
    <script src="{% asset_pipeline theme_api/vendor/jquery.fitvid-1.1.js %}"></script>
    <script src="{% asset js/vendor/lazysizes.min.js %}" async></script>
    <script src="{% asset js/vendor/ls.parent-fit.min.js %}"></script>
    <script src="{% asset js/vendor/ls.respimg.min.js %}"></script>
    <script src="{% asset js/vendor/jquery.fancybox.min.js %}"></script>
    <script src="{% asset js/theme.js %}"></script>
</body>
</html>
