{% layout %}

  {% theme_include 'partials/header' %}
  
  <main class="container">
    {% theme_include 'partials/title' %}
    <div class="flex flex-wrap">
      {% theme_include 'partials/assets' %}
    </div>
  </main>

  {% theme_include 'partials/footer' %}

{% endlayout %}