{% layout %}

  {% theme_include 'partials/header' %}
  
  <main class="container">
    {% theme_include 'partials/title' %}
    <div class="flex flex-wrap asset-container">
      {% theme_include 'partials/assets' %}
      {% if page.parent %}
        {% if page.next_nested_page %}
          <div class="pagination w-100">
            <div class="w-90-ns center pv6-ns pv5 pl4">
              <p>Next</p>
              <a class="db big-text link" href="{{ page.parent.url }}{{ page.next_nested_page.url }}">
                {{ page.next_nested_page.name }}
              </a>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </main>

  {% theme_include 'partials/footer' %}

{% endlayout %}