{% layout %}
  
  {% theme_include 'partials/header' %}
  
  <main class="container pv5 w-90-ns center">
     {% format_content %}
  </main>
  
  {% theme_include 'partials/footer' %}
  
{% endlayout %}