{% layout %}
  
  {% theme_include 'partials/header' %}
  
  <main class="container pv5-l pv4 w-90-l center">
     {% format_content %}
  </main>
  
  {% theme_include 'partials/footer' %}
  
{% endlayout %}